In [114]:
import pandas as pd

In [116]:
df1= pd.read_excel('Sabli Gate Hapur (1) (1).xlsx')
df2= pd.read_excel('Sabli Gate Hapur (2).xlsx')

In [9]:
df1.columns

Index(['BranchLabels', 'Business_Brand', 'Business_Date', 'Statement_Number',
       'Invoice_Date', 'Sale_Status', 'Fulfillment_Status', 'Invoice_Type',
       'Order_Number', 'Offline_Order_Number', 'Order_Source',
       'Source_Order_Number', 'Source_Outlet_Id', 'Open_Order_Amount',
       'Gross_Amount', 'Discounts', 'Direct_Charge_Amount', 'Net_Amount',
       'Other_Charge_Amount', 'Taxes', 'Rounding', 'Tip', 'Total',
       'Paid_Amount', 'Balance_Due', 'Tax_paid_by_Aggregator', 'Payment_Modes',
       'Materials_Cost', 'Supplies_Cost', 'Channel', 'Channel_Label',
       'Session', 'Label', 'Tags', 'Order_Notes', 'Resource_Group_Name',
       'Number_of_Items', 'Total_Quantity', 'By_Reservation',
       'Reservation_Source', 'Reservation_Reference', 'Number_Of_People',
       'Duration_Minutes', 'Number_of_Tickets', 'Number_of_Modified_Tickets',
       'Number_of_Cancelled_Tickets', 'Number_of_Bill_Prints',
       'Modified_After_Print', 'Modified_After_Close',
       'Change_Logs_After_Print', 'Bill_Print_Log', 'Created_Date',
       'Created_By', 'Sale_By', 'Delivery_Mode', 'Delivery_By',
       'Delivery_User_ID', 'Time_to_Accept', 'Time_to_Prepare',
       'Time_to_Process', 'Time_to_Assign', 'Time_to_Rider_Arrive',
       'Time_to_Dispatch', 'Time_to_Deliver', 'Time_to_Settle',
       'Time_to_Cancel', 'CancelVoid_Date', 'CancelVoid_By',
       'Reason_For_CancelVoidNon_Chargeable',
       'Remarks_for_CancelVoidNon_Chargeable', 'Source_Reason_for_CancelVoid',
       'Customer_Id', 'Deliver_To_Contact', 'Deliver_To_Phone',
       'Deliver_To_Address', 'Delivery_To_Longitude', 'Delivery_To_Latitude',
       'Last_Update_from_Device', 'Target_Order_Number', 'Warnings',
       'Source_Customer_Id'],
      dtype='object')

In [19]:
df2.columns

Index(['Branch_Labels', 'Business_Brand', 'Business_Date', 'Invoice_Date',
       'Bill_Split_Group_Name', 'Statement_Number', 'Order_Source',
       'Source_Order_Number', 'Source_Outlet_Id', 'Invoice_Type',
       'Sale_Status', 'SKU', 'Type', 'Item_Name', 'Original_Qty',
       'Sale_Item_Qty', 'Modified_Qty', 'Unit_Rate', 'Verified_Qty',
       'Measuring_Unit', 'Suggested_Batch', 'Verified_Batch',
       'Amount_Before_Modification', 'Value_of_Modification',
       'Average_Gross_Amount', 'Gross_Amount', 'Discounts', 'Net_Amount',
       'Taxes', 'Business_Tax_Id', 'Tax_Rate', 'Item_Tax_Code',
       'Materials_Cost', 'Supplies_Cost', 'Customer_ID', 'Customer_Name',
       'Customer_Tax_ID', 'Created_By', 'Created_Time', 'Ticket_Number',
       'Time_To_Prepare', 'Prepared_timestamp', 'In_Process_timestamp',
       'Time_To_In_Process', 'Notes', 'Modified_After_Print', 'Change_Log',
       'Last_Modified_By', 'Last_Modified_Time', 'Channel', 'Channel_Label',
       'Session', 'Category', 'Subcategory', 'Item_Brand', 'Account_Name',
       'Item_Group_Name', 'Variants', 'Reason_For_CancelVoidNon_Chargeable',
       'Remarks_for_CancelVoidNon_Chargeable'],
      dtype='object')

In [15]:
len(df2.columns.tolist())

60

In [17]:
len(df1.columns.tolist())

81

In [21]:
df1.head()

,BranchLabels,Business_Brand,Business_Date,Statement_Number,Invoice_Date,Sale_Status,Fulfillment_Status,Invoice_Type,Order_Number,Offline_Order_Number,...,Customer_Id,Deliver_To_Contact,Deliver_To_Phone,Deliver_To_Address,Delivery_To_Longitude,Delivery_To_Latitude,Last_Update_from_Device,Target_Order_Number,Warnings,Source_Customer_Id
0,Outlet,Burger Singh,2023-11-30,7296854.0,2023-11-30 13:03:04,Closed,Processed,Sale,NaN,NaN,...,JZKRQE6Q,NaN,NaN,NaN,NaN,NaN,Hapur@@,NaN,NaN,NaN
1,Outlet,Burger Singh,2023-11-30,7304450.0,2023-11-30 21:41:09,Closed,Processed,Sale,NaN,NaN,...,9SLFTYXK,NaN,NaN,NaN,NaN,NaN,Hapur@@,NaN,NaN,NaN
2,Outlet,Burger Singh,2023-11-30,7303744.0,2023-11-30 20:59:56,Closed,Processed,Sale,NaN,NaN,...,FCXAKZH9,NaN,NaN,NaN,NaN,NaN,Hapur@@,NaN,NaN,NaN
3,Outlet,Burger Singh,2023-11-30,7299840.0,2023-11-30 17:12:48,Closed,Processed,Sale,NaN,NaN,...,WB63WP74,NaN,NaN,NaN,NaN,NaN,Hapur@@,NaN,NaN,NaN
4,Outlet,Burger Singh,2023-11-30,7302960.0,2023-11-30 20:18:15,Closed,Delivered,Sale,NaN,NaN,...,NaN,Sushmita,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4aad0554173ce7d00c7dabe65398efcb059419c01e189f...

In [47]:
df2.head()

,Branch_Labels,Business_Brand,Business_Date,Invoice_Date,Bill_Split_Group_Name,Statement_Number,Order_Source,Source_Order_Number,Source_Outlet_Id,Invoice_Type,...,Channel_Label,Session,Category,Subcategory,Item_Brand,Account_Name,Item_Group_Name,Variants,Reason_For_CancelVoidNon_Chargeable,Remarks_for_CancelVoidNon_Chargeable
0,Outlet,Burger Singh,2023-09-26,2023-09-26 13:05:00,Commercial Bill,6425869.0,zomato,5199151942,20320216.0,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
1,Outlet,Burger Singh,2023-09-01,2023-09-01 13:09:00,Commercial Bill,6070987.0,zomato,5148062040,20320216.0,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
2,Outlet,Burger Singh,2023-09-15,2023-09-15 17:35:00,Tax Invoice,6268868.0,POS,NaN,NaN,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
3,Outlet,Burger Singh,2023-09-25,2023-09-25 14:19:00,Tax Invoice,6414925.0,POS,NaN,NaN,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN
4,Outlet,Burger Singh,2023-09-23,2023-09-23 18:28:00,Tax Invoice,6386776.0,POS,NaN,NaN,Sale,...,NaN,NaN,Fries & Sides,NaN,Burger Singh,NaN,Dilli-6 Fries (Regular),NaN,NaN,NaN

In [29]:
print(df1.shape)
print("Info of dataframe df1: ")
df1.info()

(4942, 81)
Info of dataframe df1:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4942 entries, 0 to 4941
Data columns (total 81 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   BranchLabels                          4942 non-null   object
 1   Business_Brand                        4942 non-null   object
 2   Business_Date                         4942 non-null   datetime64[ns]
 3   Statement_Number                      4940 non-null   float64
 4   Invoice_Date                          4942 non-null   datetime64[ns]
 5   Sale_Status                           4942 non-null   object
 6   Fulfillment_Status                    4942 non-null   object
 7   Invoice_Type                          4942 non-null   object
 8   Order_Number                          0 non-null      float64
 9   Offline_Order_Number                  0 non-null      float64
 10  Order_Source                          4942 non-null   object
 11  Source_Order_Number                   1923 non-null   object
 12  Source_Outlet_Id                      1904 non-null   float64
 13  Open_Order_Amount                     3063 non-null   float64
 14  Gross_Amount                          4942 non-null   float64
 15  Discounts                             4942 non-null   float64
 16  Direct_Charge_Amount                  4942 non-null   float64
 17  Net_Amount                            4942 non-null   float64
 18  Other_Charge_Amount                   4942 non-null   int64
 19  Taxes                                 4942 non-null   float64
 20  Rounding                              4942 non-null   float64
 21  Tip                                   4942 non-null   int64
 22  Total                                 4942 non-null   float64
 23  Paid_Amount                           4942 non-null   float64
 24  Balance_Due                           4942 non-null   float64
 25  Tax_paid_by_Aggregator                1904 non-null   float64
 26  Payment_Modes                         4926 non-null   object
 27  Materials_Cost                        4942 non-null   float64
 28  Supplies_Cost                         4942 non-null   float64
 29  Channel                               4942 non-null   object
 30  Channel_Label                         0 non-null      float64
 31  Session                               0 non-null      float64
 32  Label                                 4940 non-null   object
 33  Tags                                  1 non-null      object
 34  Order_Notes                           1413 non-null   object
 35  Resource_Group_Name                   0 non-null      float64
 36  Number_of_Items                       4942 non-null   int64
 37  Total_Quantity                        4942 non-null   int64
 38  By_Reservation                        4942 non-null   object
 39  Reservation_Source                    0 non-null      float64
 40  Reservation_Reference                 0 non-null      float64
 41  Number_Of_People                      4940 non-null   float64
 42  Duration_Minutes                      4942 non-null   int64
 43  Number_of_Tickets                     4940 non-null   float64
 44  Number_of_Modified_Tickets            4940 non-null   float64
 45  Number_of_Cancelled_Tickets           4940 non-null   float64
 46  Number_of_Bill_Prints                 3063 non-null   float64
 47  Modified_After_Print                  4942 non-null   object
 48  Modified_After_Close                  4942 non-null   object
 49  Change_Logs_After_Print               1312 non-null   object
 50  Bill_Print_Log                        3063 non-null   object
 51  Created_Date                          4942 non-null   float64
 52  Created_By                            4942 non-null   object
 53  Sale_By                               4942 non-null   object
 54  Delivery_Mode                         0 non-null      float64
 55  Delivery_By                           1881 non-null   object
 56  Delivery_User_ID                      1878 non-null   object
 57  Time_to_Accept                        1923 non-null   float64
 58  Time_to_Prepare                       0 non-null      float64
 59  Time_to_Process                       4811 non-null   float64
 60  Time_to_Assign                        1878 non-null   float64
 61  Time_to_Rider_Arrive                  1874 non-null   float64
 62  Time_to_Dispatch                      1889 non-null   float64
 63  Time_to_Deliver                       1848 non-null   float64
 64  Time_to_Settle                        0 non-null      float64
 65  Time_to_Cancel                        96 non-null     float64
 66  CancelVoid_Date                       96 non-null     object
 67  CancelVoid_By                         96 non-null     object
 68  Reason_For_CancelVoidNon_Chargeable   114 non-null    object
 69  Remarks_for_CancelVoidNon_Chargeable  58 non-null     object
 70  Source_Reason_for_CancelVoid          39 non-null     object
 71  Customer_Id                           3038 non-null   object
 72  Deliver_To_Contact                    1933 non-null   object
 73  Deliver_To_Phone                      29 non-null     float64
 74  Deliver_To_Address                    3 non-null      object
 75  Delivery_To_Longitude                 0 non-null      float64
 76  Delivery_To_Latitude                  0 non-null      float64
 77  Last_Update_from_Device               3019 non-null   object
 78  Target_Order_Number                   0 non-null      float64
 79  Warnings                              18 non-null     object
 80  Source_Customer_Id                    1554 non-null   object
dtypes: datetime64[ns](2), float64(42), int64(5), object(32)
memory usage: 3.1+ MB

In [43]:
print(df2.shape)
print("Info of dataframe df2: ")
df2.info()

(11056, 60)
Info of dataframe df2:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11056 entries, 0 to 11055
Data columns (total 60 columns):
 #   Column                                Non-Null Count  Dtype
---  ------                                --------------  -----
 0   Branch_Labels                         11056 non-null  object
 1   Business_Brand                        11056 non-null  object
 2   Business_Date                         11056 non-null  datetime64[ns]
 3   Invoice_Date                          11045 non-null  datetime64[ns]
 4   Bill_Split_Group_Name                 11029 non-null  object
 5   Statement_Number                      11045 non-null  float64
 6   Order_Source                          11053 non-null  object
 7   Source_Order_Number                   4120 non-null   object
 8   Source_Outlet_Id                      4088 non-null   float64
 9   Invoice_Type                          11056 non-null  object
 10  Sale_Status                           11056 non-null  object
 11  SKU                                   11056 non-null  int64
 12  Type                                  11056 non-null  object
 13  Item_Name                             11056 non-null  object
 14  Original_Qty                          9857 non-null   float64
 15  Sale_Item_Qty                         11056 non-null  int64
 16  Modified_Qty                          9857 non-null   float64
 17  Unit_Rate                             11056 non-null  float64
 18  Verified_Qty                          0 non-null      float64
 19  Measuring_Unit                        11056 non-null  object
 20  Suggested_Batch                       0 non-null      float64
 21  Verified_Batch                        0 non-null      float64
 22  Amount_Before_Modification            9857 non-null   float64
 23  Value_of_Modification                 9857 non-null   float64
 24  Average_Gross_Amount                  11056 non-null  float64
 25  Gross_Amount                          11056 non-null  float64
 26  Discounts                             11056 non-null  float64
 27  Net_Amount                            11056 non-null  float64
 28  Taxes                                 11056 non-null  float64
 29  Business_Tax_Id                       7776 non-null   object
 30  Tax_Rate                              11056 non-null  int64
 31  Item_Tax_Code                         929 non-null    float64
 32  Materials_Cost                        11032 non-null  float64
 33  Supplies_Cost                         9400 non-null   float64
 34  Customer_ID                           4860 non-null   object
 35  Customer_Name                         6723 non-null   object
 36  Customer_Tax_ID                       0 non-null      float64
 37  Created_By                            7776 non-null   object
 38  Created_Time                          7776 non-null   float64
 39  Ticket_Number                         11029 non-null  object
 40  Time_To_Prepare                       10875 non-null  float64
 41  Prepared_timestamp                    0 non-null      float64
 42  In_Process_timestamp                  0 non-null      float64
 43  Time_To_In_Process                    0 non-null      float64
 44  Notes                                 119 non-null    object
 45  Modified_After_Print                  9021 non-null   object
 46  Change_Log                            9 non-null      object
 47  Last_Modified_By                      0 non-null      float64
 48  Last_Modified_Time                    9 non-null      float64
 49  Channel                               11056 non-null  object
 50  Channel_Label                         0 non-null      float64
 51  Session                               0 non-null      float64
 52  Category                              11056 non-null  object
 53  Subcategory                           4618 non-null   object
 54  Item_Brand                            7946 non-null   object
 55  Account_Name                          0 non-null      float64
 56  Item_Group_Name                       11056 non-null  object
 57  Variants                              0 non-null      float64
 58  Reason_For_CancelVoidNon_Chargeable   28 non-null     object
 59  Remarks_for_CancelVoidNon_Chargeable  0 non-null      float64
dtypes: datetime64[ns](2), float64(31), int64(3), object(24)
memory usage: 5.1+ MB

In [45]:
# df1['Business_Date']==pd.DatetimeIndex(df1['Business_Date'])
# df2['Business_Date']==pd.DatetimeIndex(df2['Business_Date'])

In [51]:
start_date='2023-09-01'
end_date='2023-10-31'

df1= df1[(df1['Business_Date']>=start_date) & (df1['Business_Date']<=end_date)]
df2= df2[(df2['Business_Date']>=start_date) & (df2['Business_Date']<=end_date)]

print(df1.shape)
print(df2.shape)

(3452, 81)
(7647, 60)

In [75]:
df1.head()

,BranchLabels,Business_Brand,Business_Date,Statement_Number,Invoice_Date,Sale_Status,Fulfillment_Status,Invoice_Type,Order_Number,Offline_Order_Number,...,Customer_Id,Deliver_To_Contact,Deliver_To_Phone,Deliver_To_Address,Delivery_To_Longitude,Delivery_To_Latitude,Last_Update_from_Device,Target_Order_Number,Warnings,Source_Customer_Id
19,Outlet,Burger Singh,2023-10-17,6703005.0,2023-10-17 13:30:00,Closed,Processed,Sale,NaN,NaN,...,YNJI8Q4I,NaN,NaN,NaN,NaN,NaN,Hapur@@,NaN,NaN,NaN
20,Outlet,Burger Singh,2023-10-30,6884559.0,2023-10-30 23:09:04,Closed,Delivered,Sale,NaN,NaN,...,NaN,SWIGGY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
21,Outlet,Burger Singh,2023-10-16,6700173.0,2023-10-16 22:54:00,Voided,Processed,Sale,NaN,NaN,...,NaN,SWIGGY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
22,Outlet,Burger Singh,2023-10-30,6884718.0,2023-10-30 23:22:43,Closed,Delivered,Sale,NaN,NaN,...,NaN,SWIGGY,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
23,Outlet,Burger Singh,2023-10-30,6877282.0,2023-10-30 14:25:43,Closed,Delivered,Sale,NaN,NaN,...,NaN,I Love Food,NaN,NaN,NaN,NaN,NaN,NaN,NaN,679873fcce0ba44aa059e4ddb25e38139a43167689a651...

In [61]:
df1['Order_Source'].value_counts()

Order_Source
POS       2116
zomato    1064
swiggy     263
dotpe        9
Name: count, dtype: int64

In [65]:
sales_by_channel = df1.groupby("Order_Source")["Gross_Amount"].sum()
sales_by_channel

Order_Source
POS       492066.04
dotpe       3406.08
swiggy     78215.44
zomato    306690.33
Name: Gross_Amount, dtype: float64

In [120]:
## Calculate sales by channel
sales_by_channel = df1.groupby("Order_Source")["Gross_Amount"].sum()

swiggy_sales = sales_by_channel.get("swiggy", 0)
zomato_sales = sales_by_channel.get("zomato", 0)

# Apply commissions
swiggy_commission = swiggy_sales * 0.223
zomato_commission = zomato_sales * 0.237
total_commission = swiggy_commission + zomato_commission

## Calculate totals
total_revenue = df1["Gross_Amount"].sum()
total_discounts = df1["Discounts"].sum()
total_net_sales = df1["Net_Amount"].sum()  # after discounts but before tax
total_taxes = df1["Taxes"].sum()
total_cogs = df1["Materials_Cost"].sum() + df1["Supplies_Cost"].sum()     #  COGS (Cost of Goods Sold)

## Calculate profits
gross_profit = total_revenue - total_cogs - total_commission
net_profit = gross_profit - total_taxes

## Create P&L DataFrame
pnl_data = {
    "Total Revenue (Gross Sales)": [total_revenue],
    "Discounts": [total_discounts],
    "Net Sales (before tax)": [total_net_sales],
    "Swiggy Commission": [swiggy_commission],
    "Zomato Commission": [zomato_commission],
    "Total Commission": [total_commission],
    "COGS (Materials + Supplies)": [total_cogs],
    "Gross Profit": [gross_profit],
    "Taxes": [total_taxes],
    "Net Profit": [net_profit]
}

pnl_df = pd.DataFrame(pnl_data)
print("\n Profit & Loss Statement (Sept & Oct 2023) :")
pnl_df

 Profit & Loss Statement (Sept & Oct 2023) :

,Total Revenue (Gross Sales),Discounts,Net Sales (before tax),Swiggy Commission,Zomato Commission,Total Commission,COGS (Materials + Supplies),Gross Profit,Taxes,Net Profit
0,"1,280,647.00","-125,824.61","1,196,173.23","25,151.77","107,265.19","132,416.97","448,118.56","700,111.47","35,213.12","664,898.35"

### QUESTION 2:

In [137]:
pnl_df["Gross Margin %"] = (pnl_df["Gross Profit"] / pnl_df["Total Revenue (Gross Sales)"]) * 100
pnl_df["Net Margin %"] = (pnl_df["Net Profit"] / pnl_df["Total Revenue (Gross Sales)"]) * 100
pnl_df["COGS %"] = (pnl_df["COGS (Materials + Supplies)"] / pnl_df["Total Revenue (Gross Sales)"]) * 100
pnl_df["Commission %"] = (pnl_df["Total Commission"] / pnl_df["Total Revenue (Gross Sales)"]) * 100

print("\nPerformance Metrics:")
Performance_df= pd.DataFrame(pnl_df[["Gross Margin %", "Net Margin %", "COGS %", "Commission %"]])
Performance_df

Performance Metrics:

   Gross Margin %  Net Margin %  COGS %  Commission %
0           54.67         51.92   34.99         10.34

In [134]:
total_orders = df2["Statement_Number"].nunique()
aov = total_revenue / total_orders  # Average Order Value

# Orders by channel
orders_by_channel = df2["Channel"].value_counts().reset_index()
orders_by_channel.columns = ["Channel", "Number of Orders"]

# 3. Revenue by category
category_sales = (
    df2.groupby("Category")["Gross_Amount"]
    .sum()
    .reset_index()
    .sort_values(by="Gross_Amount", ascending=False)
)

# Top 5 best-selling items
top_items = (
    df2.groupby("Item_Name")["Gross_Amount"]
    .sum()
    .reset_index()
    .sort_values(by="Gross_Amount", ascending=False)
    .head(5)
)

# Bottom 5 least-selling items
bottom_items = (
    df2.groupby("Item_Name")["Gross_Amount"]
    .sum()
    .reset_index()
    .sort_values(by="Gross_Amount", ascending=True)
    .head(5)
)

print("\n--- Additional Operational Metrics (Q2 Enrichment) ---")
print(f"Total Orders: {total_orders}")
print(f"Average Order Value (AOV): ₹{aov:,.2f}\n")

print("Orders by Channel:")
print(orders_by_channel.to_string(index=False), "\n")

print("Revenue by Category:")
print(category_sales.to_string(index=False), "\n")

print("Top 5 Best-Selling Items:")
print(top_items.to_string(index=False), "\n")

print("Bottom 5 Least-Selling Items:")
print(bottom_items.to_string(index=False))

--- Additional Operational Metrics (Q2 Enrichment) ---
Total Orders: 4846
Average Order Value (AOV): ₹264.27

Orders by Channel:
                 Channel  Number of Orders
    Burger Singh Dine In              5021
     Burger Singh Zomato              2838
   Burger Singh Takeaway              1910
     Burger Singh Swiggy               760
BS Blitz Zomato Campaign               493
       BS Takeaway DotPe                24
         BS DineIn DotPe                10

Revenue by Category:
                                    Category  Gross_Amount
                                     Burgers    546,642.00
                                      Combos    202,386.00
                               Fries & Sides    133,358.00
               2 Burgers starting at Rs. 139    122,667.00
                                   Beverages    106,088.76
                                  Momo Bros!     71,015.00
                                     Dessert     21,681.00
                                 Extra Patty     20,428.00
                                 Combo Addon     15,240.00
Double Patty Burgers - Double the Pleasure;)     11,326.00
                                        Dips      4,947.00
                2 Burgers starting at Rs 129        933.00

Top 5 Best-Selling Items:
                Item_Name  Gross_Amount
        Nikku Singh - Veg    131,430.00
Veg Snacker + Veg Snacker     59,889.00
     Churmur Pandey (Veg)     55,200.00
              Veg Snacker     52,374.00
       Junior Udta Punjab     44,771.00

Bottom 5 Least-Selling Items:
                          Item_Name  Gross_Amount
                     3 Pcs (Coins).          0.00
                  Mini Batata  Vada         79.00
         Rage Mocha frappe (240 ml)         79.00
     Jattputt Chicken (Extra Patty)         99.00
Sour Cream and Onion Fries  (Large)        119.00

In [103]:
df1['Month'] = df1['Business_Date'].dt.strftime('%B')

# Separate Swiggy and Zomato for commissions
swiggy_df = df1[df1['Order_Source'].str.lower() == 'swiggy']
zomato_df = df1[df1['Order_Source'].str.lower() == 'zomato']

# Group by month and calculate P&L components
pl_monthly = df1.groupby('Month').apply(lambda x: pd.Series({
    'Total Revenue (Gross Sales)': x['Gross_Amount'].sum(),
    'Discounts': x['Discounts'].sum(),
    'Net Sales (before tax)': x['Net_Amount'].sum(),
    'Swiggy Commission': x.loc[x['Order_Source'].str.lower() == 'swiggy', 'Gross_Amount'].sum() * 0.223,
    'Zomato Commission': x.loc[x['Order_Source'].str.lower() == 'zomato', 'Gross_Amount'].sum() * 0.237,
    'COGS': x['Materials_Cost'].sum() + x['Supplies_Cost'].sum(),
    'Taxes': x['Taxes'].sum()
})).reset_index()

pl_monthly['Total Commission'] = pl_monthly['Swiggy Commission'] + pl_monthly['Zomato Commission']
pl_monthly['Gross Profit'] = pl_monthly['Net Sales (before tax)'] - pl_monthly['Total Commission'] - pl_monthly['COGS']
pl_monthly['Net Profit'] = pl_monthly['Gross Profit'] - pl_monthly['Taxes']
pl_monthly= pd.DataFrame(pl_monthly)
pl_monthly

C:\Users\satya\AppData\Local\Temp\ipykernel_22324\983359218.py:9: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  pl_monthly = df1.groupby('Month').apply(lambda x: pd.Series({

,Month,Total Revenue (Gross Sales),Discounts,Net Sales (before tax),Swiggy Commission,Zomato Commission,COGS,Taxes,Total Commission,Gross Profit,Net Profit
0,October,"414,162.49","-42,136.90","385,346.46","9,475.38","32,656.34","144,935.77","11,571.56","42,131.73","198,278.96","186,707.40"
1,September,"466,215.40","-46,675.68","434,524.29","7,966.66","40,029.26","163,388.32","12,836.82","47,995.93","223,140.04","210,303.22"